doctype html

html(lang='en')
  
  head
    meta(charset='UTF-8')
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
    )
    meta(
      name="renderer"
      content="webkit"
    ) 
    link(
      rel="stylesheet"
      href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css"
    )
    link(
      rel="stylesheet"
      href="https://cdn.bootcss.com/meyer-reset/2.0/reset.min.css"
    )
    link(
      rel="stylesheet"
      href='../../bodyCss.css'
    )
    title pixi-react
    style(type='text/css').
      body {
          background: url('../assets/background.jpg');
      }
  body
    #root